.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.search {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  .search-input {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-right: 1rem;
    flex: 1;
  }
}

.tile-list {
   width: 100%;
   margin: 20px auto;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   gap: 10px;
  .tile {
    position: relative;

    .tile-img {
      width: 230px;
      height: 250px;
    }
    .tile-overview {
      width: 230px;
      opacity: 0;
      position: absolute;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      bottom: 0;
      left: 0;
      right: 0;
      line-height: 1.2rem;
      padding-top: 0.5rem;
      background-color: #fff;
      transform: translateY(100%);
      transition: all 0.3s ease-out;
    }
  }


  .tile:hover,
  .tile:active
  .title {
    .tile-overview {
      opacity: 1;
      transform: translateY(0);
    }
  }

}

@media (max-width: 668px) {
  .tile-list {
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    .tile {
      .tile-img {
        width: 160px;
        height: 220px;
      }
      .tile-overview {
        width: 160px;
      }
    }
  }
}


/***  Utility classes  ****/
.container {
  width: 100%;
  margin: 25px auto; 
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: #fff;
    background-color: skyblue;
    cursor: pointer;
}